.card {
  box-shadow: 0 10px 20px rgba(0,0,0,.4);
  padding: 30px;
  text-align: center;
  max-width: 200px;
}



.navigation{
  display: flex;
  justify-content: center;
  align-items: center;

  
  .navigation__button{
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    margin-right: 16px;
  }
}

.movie__title{
  color: rgb(90, 216, 90);
}

.movie__rating{
  color: white;
}